<template name="project">
<div class="page">
  <div class="row">
    <div class="col-md-5">
        <h1>{{project.name}}</h1>
        <h4>{{project.tagline}}</h4>
        {{#if currentUser}}
          <a class="btn btn-default" href="/admin/Projects">Edit</a>
        {{/if}}
        {{{project.content}}}
    </div>
    <div class="col-md-4 col-md-offset-3">
      <div class="well project-info-area">
        {{>_projectInfo}}
      </div>
    </div>
  </div>
</div>
</template>

<template name="_projectInfo">
  <h2 class="project-info-title">Project Info</h2>
  <!-- Date -->
  {{#if date}}
    <div>
      <strong>Date:</strong> {{date}}
    </div>
  {{/if}}

  <!-- Code Repository -->
  {{#if project.codeRepo}}
  <div>
    <strong>Code Repository:
      <a href="{{project.codeRepo}}">{{project.codeRepo}}</a>
    </strong>
  </div>
  {{/if}}

  <!-- Collaborators -->
  {{#if collabs}}
    <div>
      <strong>Collaborators:</strong>
      {{#each collabs}}
        {{#if value.url}}
          <strong><a href="{{value.url}}">{{value.name}}</a>{{#if notLast}}, {{/if}}</strong>
        {{else}}
          <span>{{value.name}}{{#if notLast}}, {{/if}}</span>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}

  <!-- Tags -->
  {{#if tagList}}
    <div>
      <strong>Tags:</strong>
      {{#each tagList}}
        <span>{{value}}</span>{{#if notLast}}, {{/if}}
      {{/each}}
    </div>
  {{/if}}
</template>
